#main-container{
    margin: 150px auto;
    width: 1000px;
}

table{
    background-color:  white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 0px;
}
thead{
    background-color: darkcyan;
    border-bottom: solid 5px #0F362D;
    color: white;
    padding: 100px;

}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: lightseagreen;
    color: white;
}